<div class="col-md-4" *ngFor="let item of games">
    <div class="card text-center">
        <div class="card-header bg-dark  text-white justify-content-between align-items-center">
            {{item.title}}
            <button class="btn btn-danger" (click)='DeleteGame(item.id);'>
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="item.image" class="card-img-top">
        <div class="card-body">
            <p>
                {{item.description}}
            </p>
            <a [routerLink]="['/games/edit/', item.id]" class="btt btn-info btn-block">
                Edit Game
            </a>

        </div>
    </div>
</div>